# Compiled main program
pridil

# Unit test loader
unittests

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temporary configuration files
pridil-nicenasty
